# torch with appropriate acceleration https://pytorch.org/get-started/locally/
# windows+cuda: pip3 install torch>=2.8.0 torchvision --index-url https://download.pytorch.org/whl/cu129 --upgrade
# linux+cpu: pip3 install torch>=2.8.0 torchvision --index-url https://download.pytorch.org/whl/cpu --upgrade
# mac: pip3 install torch>=2.8.0 torchvision --upgrade

numpy>=2.3.2
pandas>=2.3.3
ipython>=9.6.0
jupyterlab>=4.4.9
notebook>=7.4.7
matplotlib>=3.10.6
stanza>=1.11.0
sentence-transformers>=5.1.1
einops>=0.8.1
setuptools>=80.9.0
hf-xet>=1.1.9
