# torch with appropriate acceleration https://pytorch.org/get-started/locally/
# windows+cuda: pip3 install torch>=2.1.1 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# linux+cpu: pip3 install torch>=2.1.1 torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

numpy>=1.26.2
stanza>=1.7.0
