# torch with appropriate acceleration https://pytorch.org/get-started/locally/
# windows+cuda: pip3 install torch>=2.3.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# linux+cpu: pip3 install torch>=2.3.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

numpy>=1.26.4
stanza>=1.8.2
